.add-complaint-form {
  &__container {
    display: flex;
    justify-content: space-between;

    form {
      width: 300px;
    }
    .google-maps__wrapper {
      width: 400px;
      height: 400px;
    }
  }
}